In [1]:
import pandas as pd
import numpy as np

In [3]:
sample_sub = pd.read_csv("./datasets/sample_sub_reg.csv")

In [4]:
print("Number of observations: ", sample_sub.shape[0])
sample_sub.head()

Number of observations:  878

   Id    SalePrice
0   2  181479.1217
1   4  181479.1217
2   6  181479.1217
3   7  181479.1217
4  17  181479.1217

In [6]:
test = pd.read_csv("./datasets/test.csv")

In [7]:
print("Number of observations: ", test.shape[0])
test.head()

Number of observations:  878

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [8]:
train = pd.read_csv("./datasets/train.csv")

In [9]:
print("Number of observations: ", train.shape[0])
train.head()

Number of observations:  2051

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

### Null Model

In [10]:
mean = train["SalePrice"].mean()
mean

181469.70160897123

In [11]:
#a simple way to make a prediction, is just to use the average Sale Price

In [13]:
train_baseline = np.full_like(train["Id"], mean)
train_baseline[:5]
#take the shape of "train[id]" and will match it and fill it with whatever I want to fill it with

array([181469, 181469, 181469, 181469, 181469])

In [14]:
from sklearn.metrics import mean_squared_error

mean_squared_error(train["SalePrice"], train_baseline, squared=False)

79239.33504472437

In [16]:
#this is my baseline - now we want our OLS to be way better than this simplistic prediction method.

### Kaggle Submission Process

In [17]:
test_baseline = np.full_like(test["Id"], mean, dtype=float)
test_baseline[:5]

array([181469.70160897, 181469.70160897, 181469.70160897, 181469.70160897,
       181469.70160897])

In [18]:
test_preds_df = pd.DataFrame({
    "Id": test["Id"],
    "SalePrice": test_baseline
})
test_preds_df.head()

     Id      SalePrice
0  2658  181469.701609
1  2718  181469.701609
2  2414  181469.701609
3  1989  181469.701609
4   625  181469.701609

In [20]:
test_preds_df.to_csv("./datasets/baseline_sub.csv", index=False)